<h1>Homepage</h1>
<a href="/signup">Sign up</a>
<a href="/login">Log in</a>
<a href="/logout">Log out</a>
<a href="/membership">Acquire membership</a>
<% if(isLoggedIn) { %>
<a href="/newmessage">Create new message</a>
<% } %>
<section>
  <% for(let i = 0; i < users.length; i++) { %> <%
  users[i].messages.forEach((message) => { %>
  <article>
    <h2><%= message.title %></h2>
    <p><%= message.message %></p>
    <% if(isLoggedIn) { %>
    <p>Author: <%= users[i].fullname %></p>
    <p>Created: <%= message.timestamp %></p>
    <% if(isAdmin) { %>
    <a href="<%= "/delete" + message.url %>">Delete message</a>
    <% } %> <% } %>
  </article>
  <% }) %> <% } %>
</section>
